/* Section 1: Owner*/
.hero-section {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  margin: 50px 0;
  margin-bottom: 100px;
  align-items: center;
  gap: 40px;
}

.hero-section .text {
  flex: 5;
}

.hero-section .text h2 {
  font-size: 45px;
}

.hero-section .text .links {
  margin-top: 25px;
}

.hero-section .text .links a {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid var(--accent);
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: .1s;
}

.hero-section .text .links a:hover {
  color: var(--text-color);
  border: 2px solid var(--text-color);
}

.hero-section .profile-picture {
  flex: 2;
  display: flex;
  justify-content: right;
}

.hero-section .profile-picture img {
  border-radius: 50%;
  width: 300px;
}

/* Section 2: Skills*/
.skills-section {
  padding: 0 50px;
  margin-bottom: 100px;
}

.skills-section h2 {
  text-align: center;
  font-size: 35px;
}

.skills-section .text {
  text-align: center;
  margin-bottom: 20px;
}

.skills-section .cells {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills-section .cells .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 200px;
  padding: 10px 20px;
  margin: 10px;
  border: 1.5px solid rgb(211, 211, 211);
  border-radius: 5px;
}

.skills-section .cells .cell img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 2px;
}

.skills-section .cells .cell span {
  font-style: 18px;
}

/* Section 3: Projects*/

/* Section 4: Contact*/
.contact-section {
  padding: 0 50px;
  margin-bottom: 100px;
}

.contact-section .group .text {
  flex: 3;
  margin-top: 20px;
}

.contact-section .group form {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.contact-section .group form input,
.contact-section .group form textarea {
  font-family: 'Poppins', sans-serif;
  border: 2px solid var(--accent);
  background-color: transparent;
  padding: 10px;
  margin-bottom: 15px;
  outline: none;
  resize: none;
}

.contact-section .group form button {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: rgb(255, 255, 255);
  background-color: var(--accent);
  border: none;
  height: 50px;
  cursor: pointer;
  transition: .1s;
}

.contact-section .group form button:hover {
  filter: brightness(.9);
}

.contact-section h2 {
  font-size: 35px;
}

.contact-section .group {
  display: flex;
  gap: 50px;
}

@media (max-width: 850px) {
  /* Section 1: Owner*/
  .hero-section .text h2 {
    font-size: 35px;
  }
}

@media (max-width: 740px) {
  .hero-section {
    flex-direction: column-reverse;
  }

  /* Section 4: Contact*/
  .contact-section .group {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  /* Section 1: Owner*/
  .hero-section {
    padding: 0 20px;
  }

  .hero-section .text h2 {
    font-size: 30px;
  }

  /* Section 2: Skills*/
  .skills-section {
    padding: 0 20px;
  }

  .skills-section .cells .cell span {
    font-size: 16px;
  }

  /* Section 4: Contact*/
  .contact-section .group {
    padding: 0 20px;
  }

  .contact-section {
    padding: 0 20px;
  }
}