@media (max-width: 600px) {
  nav {
    padding: 0 20px;
  }

  nav .right a span {
    display: none;
  }

  nav .right a:last-child {
    color: var(--text-color);
    background-color: transparent;
    padding: 0;
  }

  nav .right a {
    font-size: 22px;
  }

}

@media (max-width: 850px) {
  /* Section 1: Owner*/
  .hero-section .text h2 {
    font-size: 35px;
  }
}

@media (max-width: 740px) {
  .hero-section {
    flex-direction: column-reverse;
  }

  /* Section 4: Contact*/
  .contact-section .group {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  /* Section 1: Owner*/
  .hero-section {
    padding: 0 20px;
  }

  .hero-section .text h2 {
    font-size: 30px;
  }

  /* Section 2: Skills*/
  .skills-section {
    padding: 0 20px;
  }

  .skills-section .cells .cell span {
    font-size: 16px;
  }

  /* Section 4: Contact*/
  .contact-section .group {
    padding: 0 20px;
  }

  .contact-section {
    padding: 0 20px;
  }
}